<%#-*- coding:utf-8; mode:jinja2; -*-%>

<% content_for :head do %>
  <link href="/css/style.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular-resource.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/services.js"></script>
<% end %>

<% content_for :body do %>
  <div id="container" ng-app="app">
    <a href='/auth/google_oauth2'>
      <img src="/images/google-signin-normal.png" style="height: 40px;">
    </a>
    <div id="content" ng-view></div>
  </div>
<% end %>
