/*-*- coding:utf-8; mode:css; -*-*/

* {
    margin: 0;
    padding: 0;
}
*[draggable=true] {
    -moz-user-select:none;
    -khtml-user-drag: element;
    cursor: move;
}
li {
    list-style: none;
}
.mannequin-container {
    background: url(/images/mannequin.png) top right no-repeat;
    border: 1px solid #333333;
    height: 350px;
    position: relative;
    vertical-align: top;
    width: 200px;
}
.mannequin-container div {
    position: absolute;
}
.margin {
    margin: 1em;
}
.shirt {
    background: url(/images/shirt.png) top right no-repeat;
    height: 236px;
    width: 186px;
}
.shorts {
    background: url(/images/shorts.png) top right no-repeat;
    height: 160px;
    width: 120px;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: top;
}
.table-row {
    display: table-row;
}
